<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHP779H6oo1-8ru-ZFu7q9svdOIzPVDso</string>
	<key>GCM_SENDER_ID</key>
	<string>385742351015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kimhyeji.FlabProject</string>
	<key>PROJECT_ID</key>
	<string>runner-c90c3</string>
	<key>STORAGE_BUCKET</key>
	<string>runner-c90c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385742351015:ios:b6d997a9a397c3d971c982</string>
</dict>
</plist>